<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ipsum Times</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<header>
    <h1>THE IPSUM TIMES</h1>
    <p>Populate your next project with an ipsum of some of the UK's funny and unbelievable headlines.</p>
</header>

<body>
    <form action="/" method="GET">
        <label for="numberOfParagraphs">Paragraphs:</label>
        <!-- Dynamically set the value of the input based on query data -->
        <input type="number" id="numberOfParagraphs" name="numberOfParagraphs" value="<%= query.numberOfParagraphs %>"
               min="1" max="10" required>
        <input class="submitButton" type="submit" value="Generate">
    </form>

    <div class="ipsumTextContainer">
        <div class="ipsumText">
            <% for (let paragraph of data) { %>
            <p><%= paragraph %></p>
            <% } %>
        </div>
    </div>

    <footer>
        <div class="greetingDiv">
            <p>Photo by <a href="https://www.pexels.com/photo/white-ceramic-mug-on-top-of-a-newspaper-3944425/" alt="newspaper">cottonbro studio</a></p>
            <p>Headlines sourced from <a href="https://www.demilked.com/funny-mental-uk-headlines/">deMilked</a></p>
        </div>
    </footer>
</body>
</html>
