<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ipsum Times</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@311&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<header>
    <h1>THE IPSUM TIMES</h1>
    <p>Populate your next project with an ipsum of some of the UK's funny and unbelievable headlines.</p>
</header>

<body>
    <form action="/">
        <label for="numberOfParagraphs">Paragraphs:</label>
        <input type="number" id="numberOfParagraphs" name="numberOfParagraphs" value="<%= query.numberOfParagraphs %>"
               min="1" max="10" required>
        <input class="submitButton" type="submit" value="Generate">
    </form>

    <div class="ipsumTextContainer">
        <div class="ipsumText">
            <% for(let paragraph of data) { %>
            <p><%= paragraph %></p>
            <% } %>
        </div>
    </div>

    <footer>
        <div class="greetingDiv">
            <p>Photo by <a href="https://www.pexels.com/photo/white-ceramic-mug-on-top-of-a-newspaper-3944425/"
            alt="newspaper"> cottonbro studio</a></p>
            <p>Headlines sourced from <a href="https://www.demilked.com/funny-mental-uk-headlines/">deMilked</p>
        </div>
    </footer>
</body>
</html>
